In [1]:
"""#Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list """

'#Questions \n\nl = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]\n1 . Try to reverse a list \n2. try to access 234 out of this list \n3 . try to access 456 \n4 . Try to extract only a list collection form list l \n5 . Try to extract "sudh"\n6 . Try to list all the key in dict element avaible in list \n7 . Try to extract all the value element form dict available in list '

In [2]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [3]:
#1 . Try to reverse a list 

l[::-1]

[{234: [23, 45, 656], 'key1': 'sudh'},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [5]:
#2. try to access 234 out of this list 

l[7][0]

234

In [6]:
#3 . try to access 456 

l[5][1]

456

In [8]:
#4 . Try to extract only a list collection form list l 

l[5]

[23, 456, 67, 8, 78, 78]

In [9]:
#5 . Try to extract "sudh"

l[-1]["key1"]

'sudh'

In [12]:
#6 . Try to list all the key in dict element avaible in list 

key = list(l[-1].keys())
key

['key1', 234]

In [14]:
#7. Try to extract all the value element form dict available in list 

value = list(l[-1].values())
value

['sudh', [23, 45, 656]]

In [16]:
#8. Try to extract all the items form dict available in list

item = list(l[-1].items())
item

[('key1', 'sudh'), (234, [23, 45, 656])]