In [ ]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [ ]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [ ]:
for i in l :
    pass

In [ ]:
s = "sudh"
for i in s :
    print(i)

s
u
d
h

In [ ]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [ ]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [ ]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [ ]:
s = "sudhanshu"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
n
s
h
u
print srtring  sudhanshu

In [ ]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [ ]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"sudh"}

In [ ]:
type(b)

set

In [ ]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [ ]:
for i in b :
    print(i)

4
5
6
7
8
sudh

In [ ]:
d = {'key1' :"sudh" , 'contact' : "sudhanshu@ineuron.ai" , "position" : "xyz"}

In [ ]:
for i in d :
    print(i ,":" ,  d[i] )

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [ ]:
d['key1']

'sudh'

In [ ]:
range(9)

range(0, 9)

In [ ]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [ ]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list(range(0,9 , 2))

[0, 2, 4, 6, 8]

In [ ]:
list(range(0,9 , -1))

[]

In [ ]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
n = 4 
for i in range(4) :
    for j in range(0 ,i+1) : 
        print("sudh" , end = "     ")
    print("\n")

sudh

sudh     sudh

sudh     sudh     sudh

sudh     sudh     sudh     sudh

In [ ]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i): 
        print("sudh",end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [ ]:
n=4
k=n
for i in range(n):
    k=k-1
    print('  '*k, end='')
    for j in range(i+1):
        print('sudh ', end= '')
    print()

      sudh
    sudh sudh
  sudh sudh sudh
sudh sudh sudh sudh

In [ ]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print("",end=' ')
    for j in range(i+1):
        print("sudh",end=' ')
    print()

  sudh
 sudh sudh
sudh sudh sudh

In [ ]:
n = 3

for i in range(n+1):
    print(' '*(n-i) + 'sudh '*i)

  sudh
 sudh sudh
sudh sudh sudh

In [ ]:
list(range(0))

[]

In [ ]:
t = (3,23,45,67,2,4,5,6)

In [ ]:
t[0]

3

In [ ]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [ ]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [ ]:
s = "ineuron"
for i in range(len(s)) : 
    print(i , s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [ ]:
s

'ineuron'

In [ ]:
for i in range(len(s)-1 , -1, -1):
    print(i , s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [ ]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [ ]:
for i in d.items():
    print(i , type(i) , type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [ ]:
l = ["sudh" , "kuamr" , 3234545 , "sudhanshu@ineuron.ai" , 345, 34345353]
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [ ]:
l1

[3234545, 345, 34345353]

In [ ]:
 d = {1: 3345345  , "name" : "sudh" , "email_id" : "sudhanshu@ineuron.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [ ]:
for i in d :
    if type(i) == int :
        print(i , ":"  , d[i])

1 : 3345345
234 : 3454

In [ ]:
s = "aaaabbccd"

In [ ]:
for i in set(s):
    print(i  , ":" , s.count(i))

b : 2
a : 4
c : 2
d : 1

In [ ]:
s.count('a')

4

In [ ]:
i = 34534654646435
for j in str(i) :
    print(int(j ), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [ ]:
str(i)

'34534654646435'

In [ ]:
t = ("sudh" , "kumar" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"kumar"})

In [ ]:
t=("sudh","kumar",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"sudh","key2":"kumar"})

In [ ]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [ ]:
d = {4:5 , "key1" : "sudh" , "key2" : "kumar"}

In [ ]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [ ]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [ ]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [ ]:
a = 10 
b = 20
c = 30

In [ ]:
a , b , c = 10 , 20 , 30

In [ ]:
a,b,c = (10,20,30)

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [ ]:
d= {'key1' :"sudh" , (3,4,5,65) : "fdsfdsd" , [3,4,5,6] :"345"}

TypeError: unhashable type: 'list'

In [ ]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3

In [ ]:
d1 = {}
d1['a'] == None

KeyError: 'a'

In [ ]:
s="aaaabbccd"
d1={}

for i in s:
    if d1[i]==None :
        key=i
        d1={key:0}
    else:
        d1[i]=d1[i]+1
print(d1)

KeyError: 'a'

In [ ]:
s="aaaabbccd"
d = {}
for i in set(s) : 
    d[i] =  s.count(i)

In [ ]:
d

{'b': 2, 'a': 4, 'c': 2, 'd': 1}

In [ ]:
l = list(range(6,-1,-1))
s = 'ineuron'
t = (l,s)

t

([6, 5, 4, 3, 2, 1, 0], 'ineuron')

In [ ]:
print(t)
for i,j in t:
    print(i,j)

([6, 5, 4, 3, 2, 1, 0], 'ineuron')

ValueError: too many values to unpack (expected 2)

In [ ]:
d

{'b': 2, 'a': 4, 'c': 2, 'd': 1}

In [ ]:
d.items()

dict_items([('b', 2), ('a', 4), ('c', 2), ('d', 1)])

In [ ]:
1.	i = j = [3]
              i += j
              print(i,j)


2.	set = {"python", "coding", "tips", "for", "beginners"}
               print(set)
              ''.join(set)
3.	tuple = ("python", "coding", "tips", "for", "beginners")
               print(tuple)
              ''.join(tuple)
4.	print(dict(("py", "th", "on")))
5.	x, y = (0,1) if True else None, None
print(x)
6.	i = j = [3]
i += j
print(i,j)

In [ ]:
i = j = [3]
i = [3] + [3]
print(i,j)

[3, 3] [3]

In [ ]:
set = {"python", "coding", "tips", "for", "beginners"}
print(set)
' '.join(set)

{'tips', 'for', 'coding', 'python', 'beginners'}

'tips for coding python beginners'

In [ ]:
tuple = ("python", "coding", "tips", "for", "beginners")
print(tuple)
' '.join(tuple)

('python', 'coding', 'tips', 'for', 'beginners')

'python coding tips for beginners'

In [ ]:
print(dict(("py", "th", "on")))

{'p': 'y', 't': 'h', 'o': 'n'}

In [ ]:
x, y = (0,1) if True else None , None
print(x)

(0, 1)

In [ ]:
i = j = [3]
i += j
print(i,j)

In [ ]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):    
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
s = {1,1,1,11,1,1,4,4,4,4}

In [ ]:
f = frozenset((1,2,2,3,34,4,4,4,4))

In [ ]:
s.add(3)

In [ ]:
for i in range(4) :
    for j in range (0 , i+1) :
        print("sudh" , end = "*")
    print()

sudh*
sudh*sudh*
sudh*sudh*sudh*
sudh*sudh*sudh*sudh*

In [ ]:
l= [(3,4,5,6) , [2,4,5,5,6] , {'k1' : 'v1' , 'k2' :'v2'}]
l1 = []

In [ ]:
for i in l :
    if type(i) == list or type( i )== tuple :
        for j in i :
            l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for m in k :
                l1.append(m)

In [ ]:
l1

[3, 4, 5, 6, 2, 4, 5, 5, 6, 'k1', 'v1', 'k2', 'v2']

In [ ]:
5%2

1

In [ ]:
t = ("sudh" , "kumar" , [1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2":"kumar"})
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict : 
        for k,v  in i.items():
            if k == 3 or v == 3 :
                    print(k)
                    print(v)

3
3
3
3

In [ ]:
a = "sudh"

if "3" in a:
    print("yes")
else:
    print("No")

No

In [ ]:
a = "sudh"

if 3 in a:
    print("yes")
else:
    print("No")



b = ["sudh","kumar","vyas"]

if 3 in b:
    print("yes")
else:
    print("No")

In [ ]:
n = 4
for i in range(4) :
    for j in range(0,i+1) :
        print("sudh" , end =" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [ ]:
n=3
for i in range (n):
    for j in range(i,n-1):
        print("" *len("sudh"),end= " ")
    for j in range (i+1):
        print("sudh",end=" " )
    for j in range(i):
        print("sudh",end= " ")
    print()

  sudh
 sudh sudh sudh
sudh sudh sudh sudh sudh

In [ ]:
for i in t :
    if type(i) == list or type (i) == tuple :
        for j in i :
            if j ==3 :
                print(j)
    if type(i) ==dict :
            for k,v in i . items():
                if k == 3 or v == 3:
                    print(k)   
                    print(v)

3
3
3
3

In [ ]:
b = input()

890